<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">

        <a class="navbar-brand btn-top" href="/admin">
            <span class="glyphicon glyphicon glyphicon-globe"></span>
            Datasets
        </a>
        <a class="navbar-brand btn-top" href="/admin/indicators">
            <span class="glyphicon glyphicon glyphicon-stats"></span>
            Indicators
        </a>
        <a class="navbar-brand btn-top" href="/admin/sources">
            <span class="glyphicon glyphicon glyphicon-folder-open"></span>
            Add Data Sources
        </a>
        <a class="navbar-brand btn-top" href="/admin/landvoc">
            <span class="glyphicon glyphicon glyphicon-tags"></span>
            Landvoc
        </a>
        <!--a class="navbar-brand btn-top" href="/admin/create/layer">
            <span class="glyphicon glyphicon glyphicon-globe"></span>
            Spatial
        </a>
        <a class="navbar-brand btn-top" href="/admin/webservices">
            <span class="glyphicon glyphicon glyphicon-picture"></span>
            Web Services
        </a-->
        <a class="navbar-brand btn-top" href="/admin/settings">
            <span class="glyphicon glyphicon glyphicon-cog"></span>
            Settings
        </a>
        <a class="navbar-brand btn-top" href="/admin/logout">
            <span class="glyphicon glyphicon glyphicon-log-out"></span>
            Log Out
        </a>
        <a class="navbar-brand pull-right">
          <img alt="Logo" src="/static/images/logo.png" height="25">
        </a>
    </div>

</div>
<script>

if (window.location.pathname === "/admin") {
  $(".btn-top").css("display", "none")
}
</script>
</nav>
