<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>LP Admin Panel</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/vnd.microsoft.icon" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js">
<script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css">

 <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
 <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
 <script src="/static/csv/jquery.csv.min.js"></script>
 <script src="http://bgrins.github.io/spectrum/spectrum.js"></script>
 <link rel='stylesheet' href='http://bgrins.github.io/spectrum/spectrum.css' />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

<style>
    body    { padding-top:50px; }
    label { color: #808080; }
    .navbar-header{ width:100%; }
    .bootstrap-tagsinput{ display: block; }
    .layer-entry-available { padding: 5px; }
    .layer-entry-published { padding: 5px; font-weight: bold;}
    .layer-entry:hover {cursor: pointer; color: red;}
    #sources-list { overflow-y: auto; height: 600px; width: 800px; padding: 20px;}
    .store-entry {padding: 5px;}
    .store-entry:hover {cursor: pointer; color: red;}
    #existing-stores {
        margin-top: 20px;
    }
    #store-layers {
        overflow: auto;
        height: 600px;
    }
    #datasets-table tr, #indicators-table  tr {
      height: 60px;
    }
    .sources-header {
        font-weight: bold;
        text-align: center;
        width: 100%;
        background: #d3d3d3;
    }
    .layer-entry {
        border-bottom: 1px solid black;
        padding: 5px;
    }
</style>
