<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="refresh" content="3;url=/admin/create/layer" />
    </head>

    <body class="container">
        <% if (message) { %>
            <div><%= message %></div>
        <% } %>
        <div>You will be redirected automatically after 3s. If not <a href="/admin">click here</a>.</div>
    </body>

</html>
