<!-- views/pages/datasets.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h2>Datasets</h2>
    <hr />
    <table class="table table-striped" id="datasets-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 3%">#</th>
          <th scope="col">Name</th>
          <th scope="col" style="width: 15%">Updated at</th>
          <th scope="col" style="width: 15%">Created at</th>
          <th scope="col" style="width: 10%">Indicators</th>
          <th scope="col" style="width: 10%">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% datasets.forEach(function(dataset, index) {
          let url = `/admin/datasets/${dataset.id}/indicators`;
          let isMongo = dataset.id.match(/^[0-9a-fA-F]{24}$/);
          %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><b><%= dataset.name %></b></td>
            <td><small><%= dataset.updated_at %></small></td>
            <td><small><%= dataset.created_at || "-" %></small></td>
            <td><a href="<%= url %>">view<a></td>
            <%
            if (isMongo) {
            %>
            <td><a href="/admin/dataset/<%=dataset.id%>">edit</a></td>
            <%
            } else {
            %>
                <td>-</td>
            <%
            }
            %>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <div>
      <a href="/admin/datasets/add" class="btn btn-primary">Add new</a>
    </div>
    <hr />
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<script>
$(document).ready( function () {
    $('#datasets-table').DataTable();
} );
</script>

</html>
