<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>

      <h2>Edit indicator</h2>

      <form action="/admin/indicator/update" method="post">

        <hr />
        <h3>Basic info</h3>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="id">ID</label>
            <input type="text" class="form-control" name="id" id="id" value="<%= indicator.id %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset">Dataset</label>
            <input type="text" class="form-control" name="dataset" id="dataset" value="<%= indicator.dataset %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="created_at">Created at</label>
            <input type="text" class="form-control" id="created_at" value="<%= indicator.created_at %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="updated_at">Updated at</label>
            <input type="text" class="form-control" id="updated_at" value="<%= indicator.updated_at %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="<%= indicator.name %>" data-validation="length" data-validation-length="min3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="about">About</label>
            <textarea class="form-control" name="about" id="about" rows="3" data-validation="required"><%= indicator.about %></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="region">Region</label>
            <select class="form-control tags-multiple" name="region" id="region" multiple="multiple">
              <% for (let i=0; i<regions.length; i++) {
                  let selected = (indicator.region.split(',').includes(regions[i].code)) ? "selected" : "";
                  %>
                <option value="<%= regions[i].code %>" <%= selected %>> <%= regions[i].region %></option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="country">Country</label>
            <select class="form-control tags-multiple" name="country" id="country" multiple="multiple">
              <option value="none">---</option>
              <% for (let i=0; i<countries.length; i++) {
                  let selected = (indicator.country.split(',').includes(countries[i].code)) ? "selected" : "";
                  %>
                <option value="<%= countries[i].code %>" <%= selected %>> <%= countries[i].country %></option>
              <% } %>
            </select>
          </div>
        </div>

        <%
        let types = ['Vector', 'WMS', 'SPARQL'];
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="type">Type*</label>
            <select class="form-control" name="type" id="type">
              <% for (let i=0; i<types.length; i++) {
                let selected = (indicator.type === types[i]) ? "selected" : "";
                %>
                <option value="<%= types[i] %>" <%= selected %>> <%= types[i] %></option>
              <% } %>
            </select>
          </div>
        </div>

        <hr />
        <h3>Source</h3>

          <%
          let source;
          if (indicator.type === 'Vector') {
            source = indicator.vector;
          } else if (indicator.type === 'Raster') {
            source = indicator.raster;
        } else if (indicator.type === 'WMS') {
            source = indicator.wms;
          }else {
            source = indicator.sparql;
          }

          %>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="source_url">Source url*
                  <a id="get-sources" class="btn btn-link" data-toggle="modal" data-target="#sources">select</a>
              </label>

              <input type="text" class="form-control" name="source_url" id="source_url"  value="<%= source.source_url %>" data-validation="required">

              <div id="sources" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div id="sources-list" class="modal-content">
                        <table id="layers-table">
                            <thead><tr><th>Layer</th></tr></thead>
                            <tbody id="table-body"></tbody>
                        </table>

                    </div>
                </div>
              </div>

              <div id="layer-info"></div>

            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="format">Format</label>
              <input type="text" class="form-control" name="format" id="format" value="<%= source.format %>">
            </div>
          </div>
          <%
          let geometries = ['Point', 'Line', 'Polygon', 'MultiPoint', 'MultiLine', 'MultiPolygon']
          %>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="geometry">Geometry</label>
              <select class="form-control" name="geometry" id="geometry">
                <% for (let i=0; i<geometries.length; i++) {
                  let selected = (source.geometry === geometries[i]) ? "selected" : "";
                  %>
                  <option value="<%= geometries[i] %>" <%= selected %>> <%= geometries[i] %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="vector_encoding">Encoding</label>
              <input type="text" class="form-control" name="encoding" id="encoding" value="<%= source.encoding %>">
            </div>
          </div>

        <hr />
        <h3>Metadata</h3>
        <% let meta = indicator.meta %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_label">Label</label>
            <input type="text" class="form-control" name="indicator_label" id="indicator_label" value="<%= meta.indicator.label %>" data-validation="length" data-validation-length="min3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_description">Description</label>
            <input type="text" class="form-control" name="indicator_description" id="indicator_description" value="<%= meta.indicator.description %>" data-validation="required">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_picture">Picture</label>
            <input type="text" class="form-control" name="indicator_picture" id="indicator_picture" value="<%= meta.indicator.picture %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_dataset">Dataset</label>
            <input type="text" class="form-control" name="indicator_dataset" id="indicator_dataset" value="<%= meta.indicator.dataset %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_id">ID</label>
            <input type="text" class="form-control" name="indicator_id" id="indicator_id" value="<%= meta.indicator.id %>">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_measurement_unit">Measurement unit</label>
            <input type="text" class="form-control" name="indicator_measurement_unit" id="indicator_measurement_unit" value="<%= meta.indicator.measurement_unit %>">
          </div>
        </div>

        <%
        let related_themes = themes;
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_related_themes">Related Themes</label>
            <select class="form-control tags-multiple" name="indicator_related_themes" id="indicator_related_themes" multiple="multiple">
              <% for (let i=0; i<related_themes.length; i++) {
                  let selected = (meta.indicator.related_themes.split(';').includes(related_themes[i])) ? "selected" : "";
                  %>
                <option value="<%= related_themes[i] %>" <%= selected %>> <%= related_themes[i] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <!--div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_related_landvoc_concepts">Related landvoc concepts</label>
            <small>(press ENTER to create a tag)</small>
            <input type="text" class="form-control tagsinput" name="indicator_related_landvoc_concepts" id="indicator_related_landvoc_concepts" data-role="tagsinput" value="<%= meta.indicator.related_landvoc_concepts %>">
          </div>
      </div-->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="indicator_related_landvoc_concepts">Related Landvoc Concepts</label>
          <select class="form-control tags-multiple" name="indicator_related_landvoc_concepts" id="indicator_related_landvoc_concepts" multiple="multiple">
            <% for (let i=0; i<concepts.length; i++) {
                let selected = (meta.indicator.related_landvoc_concepts.split(';').includes(concepts[i])) ? "selected" : "";
                %>
              <option value="<%= concepts[i] %>" <%= selected %>> <%= concepts[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

        <hr />

        <div class="row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary" value="submit">Update</button>
            <button type="button" class="btn btn-default" id="cancel" onClick="goBack()" >Cancel</button>
            <button type="button" id="delete-indicator" class="btn btn-danger" >Delete</button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <script>

  function goBack() {
      window.history.back();
  }

  $(document).ready(function() {
      $('.tags-multiple').select2({tokenSeparators: [';']});
  });

  var type = $("#type");

  var format = $("#format");
  var geometry = $("#geometry");
  var encoding = $("#encoding");
  var src = $('#get-sources');

  type.change(function(e) {
    var value = e.target.value;

    if (value === 'Vector') {
      format.prop('disabled', false);
      geometry.prop('disabled', false);
      //geometry.val('Point');
      encoding.prop('disabled', false);
      src.show();
    } else if (value === 'Raster') {
      format.prop('disabled', false);
      geometry.prop('disabled', true);
      geometry.val(null);
      encoding.prop('disabled', true);
      encoding.val(null);
    } else if (value === 'WMS') {
      format.prop('disabled', true);
      format.val(null);
      geometry.prop('disabled', true);
      geometry.val(null);
      encoding.prop('disabled', true);
      encoding.val(null);
      src.show();

  } else if (value === 'SPARQL') {
      format.prop('disabled', true);
      format.val(null);
      geometry.prop('disabled', true);
      geometry.val(null);
      encoding.prop('disabled', true);
      encoding.val(null);
      src.show();

    }

    if (value === 'Vector' && geometry.val() === null) {
      geometry.val("Point")
    }

  })

  type.trigger("change");

  $.ajax({
      url: "/admin/layers",
      success: function(result){
          result.forEach( function(s){
              $("#table-body").append("<tr class='layer-entry'><td>" + s + "</td></tr>")
          })

          $('#layers-table').DataTable();
    }})

    $("#table-body").click( function(e){
        var layer = e.target;
        var name = layer.innerHTML;

        $.ajax({
            url: `/admin/layers/${name}`,
            success: function(result){
                  if (result.ok) {
                      console.log(result)
                      $('#source_url').val(result.url);
                      var tp = $('#type').val().toLowerCase();
                      $('#layer-info').html(`<b>Selected layer:</b> ${result.name} <span style="color:${(result.type.toLowerCase() === tp) ? 'green' : 'red'}">(${result.type})</span>`)
                      $('#sources').modal('hide');
                  } else {
                      $('#source_url').val('error');
                      $('#sources').modal('hide');
                  }
            }
      })
    })

    $("#name").keyup( function(e) {
        $("#indicator_label").val(e.target.value);
    });
    /*
    $("#about").keyup( function(e) {
        $("#indicator_description").val(e.target.value);
    });*/
    $("#indicator_label").keyup( function(e) {
        $("#name").val(e.target.value);
    });
    /*
    $("#indicator_description").keyup( function(e) {
        $("#about").val(e.target.value);
    });*/

    $("#delete-indicator").click(function(e){
        var r = confirm("Are you sure you want to delete this indicator?")
        if (r) {
            // href="/admin/indicators/delete/<%= indicator._id %>"
            var indicator_id = '<%= indicator._id %>';
            var dataset_id = '<%= dataset_id %>';

            $.ajax({
                url: `/admin/indicators/delete/${indicator_id}`,
                success: function(result){
                      window.location.replace(`/admin/datasets/${dataset_id}/indicators`);
                }
          })
        }
    })

    $.validate()
  </script>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
