<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>

      <h2>Edit dataset</h2>

      <form action="/admin/datasets/update" method="post" enctype="multipart/form-data">

        <hr />
        <h3>Basic info</h3>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="id">ID</label>
            <input type="text" class="form-control" name="id" id="id" value="<%= dataset.id %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="created_at">Created at</label>
            <input type="text" class="form-control" id="created_at" value="<%= dataset.created_at %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="updated_at">Updated at</label>
            <input type="text" class="form-control" id="updated_at" value="<%= dataset.updated_at %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="<%= dataset.name %>" data-validation="length" data-validation-length="min3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="about">About</label>
            <textarea class="form-control" name="about" id="about" rows="3" data-validation="required"><%= dataset.about %></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="reference">Reference</label>
            <select class="form-control" name="reference" id="reference">
              <option value="">-----</option>
              <% for (let i=0; i<datasets.length; i++) {
                  let selected = (dataset.reference === datasets[i].id) ? "selected" : "";
              %>
                <option value="<%= datasets[i].id %>" <%= selected %>> <%= datasets[i].name %></option>
              <% } %>
            </select>
            <small>
                Reference field points to a dataset from the drupal database.
                In the viewer all the indicators created within this dataset will be displayed as a part of the refered dataset.
                Leave empty if no reference.
            </small>
          </div>
        </div>

        <hr />
        <h3>Metadata</h3>
        <% let meta = dataset.meta %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_label">Label</label>
            <input type="text" class="form-control" name="dataset_label" id="dataset_label" value="<%= meta.dataset.label %>" data-validation="length" data-validation-length="min3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_description">Description</label>
            <input type="text" class="form-control" name="dataset_description" id="dataset_description" value="<%= meta.dataset.description %>" data-validation="required">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_id">ID</label>
            <input type="text" class="form-control" name="dataset_id" id="dataset_id" value="<%= meta.dataset.id %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_logo">Logo</label>
            <small>max. 500kb</small>
            <div>
                <img height="200" src="<%= meta.dataset.dataset_logo %>" />
            </div>
            <input type="file" class="form-control" name="dataset_logo_file" id="dataset_logo_file">
            <input type="text" class="form-control" name="dataset_logo_url" id="dataset_logo_url" value="<%= meta.dataset.logo.url %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_license">License</label>
            <input type="text" class="form-control" name="dataset_license" id="dataset_license" value="<%= meta.dataset.license %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_copyright_details">Copyright details</label>
            <input type="text" class="form-control" name="dataset_copyright_details" id="dataset_copyright_details" value="<%= meta.dataset.copyright_details %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_organization">Organization</label>
            <input type="text" class="form-control" name="dataset_organization" id="dataset_organization" value="<%= meta.dataset.organization %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_organization_uri">Organization URI</label>
            <input type="text" class="form-control" name="dataset_organization_uri" id="dataset_organization_uri" value="<%= meta.dataset.organizationUri %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_related_themes">Related Themes</label>
            <select class="form-control tags-multiple" name="dataset_related_themes" id="dataset_related_themes" multiple="multiple">
              <% for (let i=0; i<themes.length; i++) {
                  let selected = (meta.dataset.related_themes.split(';').includes(themes[i])) ? "selected" : "";
                  %>
                <option value="<%= themes[i] %>" <%= selected %>> <%= themes[i] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <!-- div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_related_landvoc_concepts">Related landvoc concepts</label>
            <small>(press ENTER to create a tag)</small>
            <input type="text" class="form-control tagsinput" name="dataset_related_landvoc_concepts" id="dataset_related_landvoc_concepts" data-role="tagsinput" value="<%= meta.dataset.related_landvoc_concepts %>">
          </div>
      </div -->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="dataset_related_landvoc_concepts">Related Landvoc Concepts</label>
          <select class="form-control tags-multiple" name="dataset_related_landvoc_concepts" id="dataset_related_landvoc_concepts" multiple="multiple">
            <% for (let i=0; i<concepts.length; i++) {
                let selected = (meta.dataset.related_landvoc_concepts.split(';').includes(concepts[i])) ? "selected" : "";
                %>
              <option value="<%= concepts[i] %>" <%= selected %>> <%= concepts[i] %></option>
            <% } %>
          </select>
        </div>
      </div>


        <hr />

        <div class="row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary" value="submit">Update</button>
            <button type="button" class="btn btn-default" id="cancel" onClick="goBack()" >Cancel</button>
            <button type="button" class="btn btn-danger" id="delete-dataset" >Delete</button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <script>

  function goBack() {
      window.history.back();
  }

  $(document).ready(function() {
      $('.tags-multiple').select2();
  });

  //type.trigger("change");
  $('#dataset_logo').on("change", function(e){

      var file = e.currentTarget.files[0];
      var size = ((file.size/1024)/1024).toFixed(4);
  })

  $("#name").keyup( function(e) {
      $("#dataset_label").val(e.target.value);
  });
  /*
  $("#about").keyup( function(e) {
      $("#dataset_description").val(e.target.value);
  });*/
  $("#dataset_label").keyup( function(e) {
      $("#name").val(e.target.value);
  });
  /*
  $("#dataset_description").keyup( function(e) {
      $("#about").val(e.target.value);
  });*/

  $("#reference").change( function(e){
      var id = e.target.value;


      $.ajax({
          url: `/api/v1/dataset/${id}`,
          success: function(result){

                if (result.ok) {
                    var meta = result.dataset.meta.dataset;

                    $("#name").val(meta.label);
                    $("#about").val(meta.description);
                    $("#dataset_label").val(meta.label);
                    $("#dataset_description").val(meta.description);
                    $("#dataset_id").val(meta.id);
                    $("#dataset_logo_url").val(meta.logo);
                    $("#dataset_license").val(meta.license);
                    $("#dataset_copyright_details").val(meta.copyright_details);
                    $("#dataset_organization").val(meta.organization);
                    $("#dataset_organization_uri").val(meta.organizationUri);
                    $("#dataset_related_themes").val(meta.related_themes.split(';'));
                    $("#dataset_related_landvoc_concepts").val(meta.related_landvoc_concepts.split(';'));
                    $('.tags-multiple').select2();
                }
          }
    })
  })

  // /admin/datasets/delete/<%= dataset._id %>

  $("#delete-dataset").click(function(e){
      var r = confirm("Are you sure you want to delete this dataset?")
      if (r) {
          var dataset_id = '<%= dataset._id %>';

          $.ajax({
              url: `/admin/datasets/delete/${dataset_id}`,
              success: function(result){
                    window.location.replace(`/admin/datasets`);
              }
        })
      }
  })

  $.validate()

  </script>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
