<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      Error. Something went wrong. Try again in a few minutes.
    </div>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
