<!-- views/pages/indicators.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>
  <h2>Indicators</h2>
  <div><b>Dataset:</b> <%= dataset %></div>
  <hr/>
  <main>
    <table class="table table-striped" id="indicators-table">
      <thead>
        <tr>
          <th scope="col" style="width: 3%">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col" style="width: 15%">Updated at</th>
          <th scope="col" style="width: 15%">Created at</th>
          <th scope="col" style="width: 10%">View</th>
          <th scope="col" style="width: 10%">Edit</th>
          <th scope="col" style="width: 10%">Style</th>
        </tr>
      </thead>
      <tbody>
        <% indicators.forEach(function(indicator, index) {
          let url = client_url + `?type=${indicator.type}&id=${indicator.id}`
          %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><b><%= indicator.name %></b></td>
            <td><%= indicator.type %></td>
            <td><small><%= indicator.updated_at %></small></td>
            <td><small><%= indicator.created_at %></small></td>
            <td><a href="<%= url %>" target="_blank">go to map<a></td>
            <td><a href="/admin/datasets/<%= dataset_id %>/indicator/<%=indicator.id%>">edit</a></td>
            <td><a href="/admin/datasets/<%= dataset_id %>/indicator/<%=indicator.id%>/style?name=<%=indicator.name%>">style<a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <hr/>
    <div>
      <a href="/admin/datasets/<%= dataset_id %>/indicators/add" class="btn btn-primary">Add new</a>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

<script>
$(document).ready( function () {
    $('#indicators-table').DataTable();
} );
</script>

</html>
