<!-- views/pages/indicators.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>
  <h2>Indicators overview</h2>

  <hr/>
  <main>
    <table class="table table-striped" id="indicators-table">
      <thead>
        <tr>
          <th scope="col" style="width: 3%">#</th>
          <th scope="col">Name</th>
          <th scope="col">Dataset</th>
          <th scope="col">Themes</th>
          <th scope="col">Type</th>
          <th scope="col" style="width: 10%">Updated at</th>
          <th scope="col" style="width: 5%">View</th>
          <th scope="col" style="width: 5%">Edit</th>
          <th scope="col" style="width: 5%">Style</th>
        </tr>
      </thead>
      <tbody>
        <% indicators.forEach(function(indicator, index) {
          let url = client_url + `?type=${indicator.type}&id=${indicator._id}`
          %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><b><%= indicator.name %></b></td>
            <td><%= indicator.dataset.name %></td>
            <td><small><%= indicator.meta.indicator.related_themes %></small></td>
            <td><%= indicator.type %></td>
            <td><small><%= indicator.updated_at %></small></td>
            <td><a href="<%= url %>" target="_blank">go to map<a></td>
            <td><a href="/admin/datasets/<%= indicator.dataset._id %>/indicator/<%=indicator._id%>">edit</a></td>
            <td><a href="/admin/datasets/<%= indicator.dataset._id %>/indicator/<%=indicator._id%>/style?name=<%=indicator.dataset.name%>">style<a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <hr/>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

<script>
$(document).ready( function () {
    $('#indicators-table').DataTable();
} );
</script>

</html>
