<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <div>
      <h3>Themes</h3><span class="btn btn-primary" id="update-themes">Update</span>
      <hr/>
      <table class="table table-striped" id="themes-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 3%">#</th>
            <th scope="col">Label</th>
            <th scope="col" style="width: 15%">ID</th>
            <th scope="col" style="width: 15%">URL</th>
          </tr>
        </thead>
        <tbody>
          <% themes.forEach(function(theme, index) {
            %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><b><%= theme.label %></b></td>
              <td><%= theme.id %></td>
              <td><%= theme.url %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>

      <h3>Concepts</h3><span class="btn btn-primary" id="update-concepts">Update</span>
      <hr/>
      <table class="table table-striped" id="concepts-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 3%">#</th>
            <th scope="col">Label</th>
            <th scope="col" style="width: 15%">URL</th>
          </tr>
        </thead>
        <tbody>
          <% concepts.forEach(function(concept, index) {
            %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><b><%= concept.label %></b></td>
              <td><%= concept.url %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
  $(document).ready( function () {
      $('#themes-table').DataTable();
      $('#concepts-table').DataTable();
  } );

  $("#update-themes").click(function () {
          $.ajax({
              url: `/admin/update/themes`,
              success: function(result) {
                  if (result.ok) {
                      if(!alert('Themes Updated!')){window.location.reload();}
                  } else {
                      alert('Something went wrong. Please try again in a few minutes.')
                  }
              }
          })
      }
  )

  $("#update-concepts").click(function () {
          $.ajax({
              url: `/admin/update/concepts`,
              success: function(result) {
                  if (result.ok) {
                      if(!alert('Concepts Updated!')){window.location.reload();}
                  } else {
                      alert('Something went wrong. Please try again in a few minutes.')
                  }
              }
          })
      }
  )
  </script>

</body>

</html>
