<!-- views/pages/datasets.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h2>Layers</h2>
    <hr />
    <table class="table table-striped" id="datasets-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 3%">#</th>
          <th scope="col">Name</th>
          <th scope="col" style="width: 15%">OpenLayers</th>
        </tr>
      </thead>
      <tbody>
        <% layers.forEach(function(layer, index) {
          let url = `${geoserver.url}/geoserver/${geoserver.namespace}/wms?service=WMS&version=1.1.0&request=GetMap&layers=${geoserver.namespace}:${layer}&bbox=-180.0%2C-90.0%2C180.0%2C90.0&width=768&height=550&srs=EPSG%3A4326&format=application/openlayers`;
          %>
          <tr>
            <td><%= index+1 %></td>
            <td><b><%= layer %></b></td>
            <td><a href=<%= url %> target="_blank">view</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <hr />
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
<script>
$(document).ready( function () {
    $('#datasets-table').DataTable();
} );
</script>

</html>
