<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
      <h2>Add new indicator</h2>
      <div><b>Dataset:</b> <%= dataset_name %></div>

      <form action="/admin/datasets/<%= dataset_id %>/indicators/add" method="post" id="the-form">

        <hr />
        <h3>Basic info</h3>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Name*</label>
            <input type="text" class="form-control" name="name" id="name" data-validation="length" data-validation-length="min3">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="about">About*</label>
            <textarea class="form-control" name="about" id="about" rows="3" data-validation="required"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="region">Region</label>
            <select class="form-control tags-multiple" name="region" id="region" multiple="multiple">
              <% for (let i=0; i<regions.length; i++) { %>
                <option value="<%= regions[i].code %>"> <%= regions[i].region %></option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="country">Country</label>
            <select class="form-control tags-multiple" name="country" id="country" multiple="multiple">
              <option value="none">---</option>
              <% for (let i=0; i<countries.length; i++) { %>
                <option value="<%= countries[i].code %>"> <%= countries[i].country %></option>
              <% } %>
            </select>
          </div>
        </div>

        <%
        let types = ['Vector', 'WMS', 'SPARQL'];
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="type">Type*</label>
            <select class="form-control" name="type" id="type">
              <% for (let i=0; i<types.length; i++) { %>
                <option value="<%= types[i] %>"> <%= types[i] %></option>
              <% } %>
            </select>
          </div>
        </div>

        <hr />
        <h3>Source</h3>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="source_url">
                  Source url*
                  <a id="get-sources" class="btn btn-link" data-toggle="modal" data-target="#sources">select</a>
              </label>
              <input type="text" class="form-control" name="source_url" id="source_url" data-validation="required">

              <div id="sources" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                  <div id="sources-list" class="modal-content">
                      <table id="layers-table">
                          <thead><tr><th>Layer</th></tr></thead>
                          <tbody id="table-body"></tbody>
                      </table>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="format">Format</label>
              <input type="text" class="form-control" name="format" id="format" value="GeoJSON">
            </div>
          </div>
          <%
          let geometries = ['Point', 'Line', 'Polygon', 'MultiPoint', 'MultiLine', 'MultiPolygon']
          %>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="geometry">Geometry</label>
              <select class="form-control" name="geometry" id="geometry">
                <% for (let i=0; i<geometries.length; i++) { %>
                  <option value="<%= geometries[i] %>"> <%= geometries[i] %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="vector_encoding">Encoding</label>
              <input type="text" class="form-control" name="encoding" id="encoding">
            </div>
          </div>

        <hr />
        <h3>Metadata</h3>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_label">Label</label>
            <input type="text" class="form-control" name="indicator_label" id="indicator_label" data-validation="length" data-validation-length="min3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_description">Description</label>
            <input type="text" class="form-control" name="indicator_description" id="indicator_description" data-validation="required">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_picture">Picture</label>
            <input type="text" class="form-control" name="indicator_picture" id="indicator_picture">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_dataset">Dataset</label>
            <input type="text" class="form-control" name="indicator_dataset" id="indicator_dataset" value="<%= dataset_name %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_id">ID</label>
            <input type="text" class="form-control" name="indicator_id" id="indicator_id">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_measurement_unit">Measurement unit</label>
            <input type="text" class="form-control" name="indicator_measurement_unit" id="indicator_measurement_unit">
          </div>
        </div>
        <%
        let related_themes = themes;
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_related_themes">Related Themes</label>
            <select class="form-control tags-multiple" name="indicator_related_themes" id="indicator_related_themes" multiple="multiple">
              <% for (let i=0; i<related_themes.length; i++) {
                  %>
                <option value="<%= related_themes[i] %>"> <%= related_themes[i] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <!--div class="row">
          <div class="form-group col-md-6">
            <label for="indicator_related_landvoc_concepts">Related landvoc concepts</label>
            <small>(press ENTER to create a tag)</small>
            <input type="text" class="form-control tagsinput" name="indicator_related_landvoc_concepts" id="indicator_related_landvoc_concepts" data-role="tagsinput">
          </div>
      </div-->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="indicator_related_landvoc_concepts">Related landvoc concepts</label>
          <select class="form-control tags-multiple" name="indicator_related_landvoc_concepts" id="indicator_related_landvoc_concepts" multiple="multiple">
            <% for (let i=0; i<concepts.length; i++) { %>
              <option value="<%= concepts[i] %>"> <%= concepts[i] %></option>
            <% } %>
          </select>
        </div>
      </div>

        <div class="row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
            <button type="button" class="btn btn-default" id="cancel" onClick="goBack()" >Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <script>

  function goBack() {
      window.history.back();
  }

  $(document).ready(function() {
      $('.tags-multiple').select2();
  });

  var type = $("#type");

  var format = $("#format");
  var geometry = $("#geometry");
  var encoding = $("#encoding");
  var src = $('#get-sources');

  type.change(function(e) {
    var value = e.target.value;

    if (value === 'Vector') {
      format.prop('disabled', false);
      format.val('GeoJson');
      geometry.prop('disabled', false);
      geometry.val('Point');
      encoding.prop('disabled', false);
      src.show();
    } else if (value === 'Raster') {
      format.prop('disabled', false);
      geometry.prop('disabled', true);
      geometry.val(null);
      encoding.prop('disabled', true);
      encoding.val(null);
    } else if (value === 'WMS') {
      format.prop('disabled', true);
      format.val(null);
      geometry.prop('disabled', true);
      geometry.val(null);
      encoding.prop('disabled', true);
      encoding.val(null);
      src.show();
  } else if (value === 'SPARQL') {
      format.prop('disabled', true);
      format.val(null);
      geometry.prop('disabled', true);
      geometry.val(null);
      encoding.prop('disabled', true);
      encoding.val(null);
      src.hide();

    }


  })


  $.ajax({
      url: "/admin/layers",
      success: function(result){
        result.forEach( function(s){
            $("#table-body").append("<tr class='layer-entry'><td>" + s + "</td></tr>")
        })

        $('#layers-table').DataTable();

    }})

    $("#table-body").click( function(e){
        var layer = e.target;
        var name = layer.innerHTML;

        $.ajax({
            url: `/admin/layers/${name}`,
            success: function(result){
                  if (result.ok) {
                      $('#source_url').val(result.url);
                      $('#sources').modal('hide');
                  } else {
                      $('#source_url').val('error');
                      $('#sources').modal('hide');
                  }
            }
      })
    })

    $("#name").keyup( function(e) {
        $("#indicator_label").val(e.target.value);
    });
    /*
    $("#about").keyup( function(e) {
        $("#indicator_description").val(e.target.value);
    });*/
    $("#indicator_label").keyup( function(e) {
        $("#name").val(e.target.value);
    });
    /*
    $("#indicator_description").keyup( function(e) {
        $("#about").val(e.target.value);
    });*/

    $.validate()


  </script>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
