<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
      <h2>Add new dataset</h2>

      <form action="/admin/datasets/add" method="post" enctype="multipart/form-data">

        <hr />
        <h3>Basic info</h3>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Name*</label>
            <input type="text" class="form-control" name="name" id="name" data-validation="length" data-validation-length="min3">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="about">About</label>
            <textarea class="form-control" name="about" id="about" rows="3" data-validation="required"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="reference">Reference</label>
            <select class="form-control" name="reference" id="reference">
              <option value="">-----</option>
              <% for (let i=0; i<datasets.length; i++) { %>
                <option value="<%= datasets[i].id %>"> <%= datasets[i].name %></option>
              <% } %>
            </select>
            <small>
                Reference field points to a dataset from the drupal database.
                In the viewer all the indicators created within this dataset will be displayed as a part of the refered dataset.
                Leave empty if no reference.
            </small>
          </div>
        </div>

        <hr />

        <h3>Metadata</h3>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_label">Label</label>
            <input type="text" class="form-control" name="dataset_label" id="dataset_label" data-validation="length" data-validation-length="min3">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_description">Description</label>
            <input type="text" class="form-control" name="dataset_description" id="dataset_description" data-validation="required">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_id">ID</label>
            <input type="text" class="form-control" name="dataset_id" id="dataset_id">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_logo">Logo</label>
            <small>max. 500kb</small>
            <input type="file" class="form-control" name="dataset_logo_file" id="dataset_logo_file">
            <input type="text" class="form-control" name="dataset_logo_url" id="dataset_logo_url">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_license">License</label>
            <input type="text" class="form-control" name="dataset_license" id="dataset_license">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_copyright_details">Copyright details</label>
            <input type="text" class="form-control" name="dataset_copyright_details" id="dataset_copyright_details">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_organization">Organization</label>
            <input type="text" class="form-control" name="dataset_organization" id="dataset_organization">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_organization_uri">Organization URI</label>
            <input type="text" class="form-control" name="dataset_organization_uri" id="dataset_organization_uri">
          </div>
        </div>
        <%
        let related_themes = themes;
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_related_themes">Related Themes</label>
            <select class="form-control tags-multiple" name="dataset_related_themes" id="dataset_related_themes" multiple="multiple">
              <% for (let i=0; i<related_themes.length; i++) { %>
                <option value="<%= related_themes[i] %>"> <%= related_themes[i] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_related_landvoc_concepts">Related landvoc concepts</label>
            <small>(press ENTER to create a tag)</small>
            <input type="text" class="form-control tagsinput" data-role="tagsinput" name="dataset_related_landvoc_concepts" id="dataset_related_landvoc_concepts">
          </div>
        </div>
        -->
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dataset_related_landvoc_concepts">Related landvoc concepts</label>
            <select class="form-control tags-multiple" name="dataset_related_landvoc_concepts" id="dataset_related_landvoc_concepts" multiple="multiple">
              <% for (let i=0; i<concepts.length; i++) { %>
                <option value="<%= concepts[i] %>"> <%= concepts[i] %></option>
              <% } %>
            </select>
          </div>
        </div>



        <div class="row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
            <button type="button" class="btn btn-default" id="cancel" onClick="goBack()" >Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </main>

  <script>

    function goBack() {
        window.history.back();
    }

    $(document).ready(function() {
        $('.tags-multiple').select2();
    });

    $("#name").keyup( function(e) {
        $("#dataset_label").val(e.target.value);
    });
    /*
    $("#about").keyup( function(e) {
        $("#dataset_description").val(e.target.value);
    });*/
    $("#dataset_label").keyup( function(e) {
        $("#name").val(e.target.value);
    });
    /*
    $("#dataset_description").keyup( function(e) {
        $("#about").val(e.target.value);
    });*/

    $("#reference").change( function(e){
        var id = e.target.value;


        $.ajax({
            url: `/api/v1/dataset/${id}`,
            success: function(result){

                  if (result.ok) {
                      var meta = result.dataset.meta.dataset;

                      $("#name").val(meta.label);
                      $("#about").val(meta.description);
                      $("#dataset_label").val(meta.label);
                      $("#dataset_description").val(meta.description);
                      $("#dataset_id").val(meta.id);
                      $("#dataset_logo_url").val(meta.logo);
                      $("#dataset_license").val(meta.license);
                      $("#dataset_copyright_details").val(meta.copyright_details);
                      $("#dataset_organization").val(meta.organization);
                      $("#dataset_organization_uri").val(meta.organizationUri);
                      $("#dataset_related_themes").val(meta.related_themes.split(';'));
                      $("#dataset_related_landvoc_concepts").val(meta.related_landvoc_concepts.split(';'));
                      $('.tags-multiple').select2();
                  }
            }
      })
    })

    $.validate()
  </script>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
