<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <style>
  .new-row {
      padding-top: 10px;
  }
  #categorized-value {
      height: 30px;
      margin-right: 5px;
  }
  #add-row {
      margin-right: 5px;
      display: inline-block;
      padding: 5px;
  }
  #add-row:hover {
      cursor: pointer;
      text-decoration: underline;
  }

  #categorized-table {
      border-spacing: 5px;
  }

  tr {
      padding: 15px;
      border-bottom: 1px solid #ddd;
  }
  </style>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
      <h2>Style</h2>
      <div><b>Indicator:</b> <%= indicator %></div>
      <!--form action="/admin/datasets/<%= dataset_id %>/indicator/<%= indicator_id %>/style" method="post"-->
      <form>

        <hr />
        <h3>Allowed visualization methods</h3>
        <hr />
        <%
        var vg, vh, vp;
        if (style && style.allowed) {
            if (style.allowed.indexOf("Graduated Colors") > -1) {
                vg = "checked";
            }
            if (style.allowed.indexOf("Heatmap") > -1) {
                vh = "checked";
            }
            if (style.allowed.indexOf("Proportional") > -1) {
                vp = "checked";
            }
        } else {
            vg = "checked";
            vh = "checked";
            vp = "checked";
        }
        %>
        <input type="checkbox" name="vis-graduated" id="vis-graduated" <%= vg %>
        /> Graduated Colors <br />
        <input type="checkbox" name="vis-heatmap" id="vis-heatmap" <%= vh %>
        /> Heatmap <br />
        <input type="checkbox" name="vis-proportional" id="vis-proportional" <%= vp %>
        /> Proportional Symbols <br />
        <hr />
        <h3>Default style properties</h3>
        <hr />

        <%
        let types = ['graduated', 'heatmap', 'proportional'];
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="type">Visualization type</label>
            <select class="form-control" name="type" id="type">
              <% for (let i=0; i<types.length; i++) {
                  let selected;
                  if (style) {
                    selected = (style.type === types[i]) ? "selected" : "";
                  }
                  %>
                <option value="<%= types[i] %>" <%= selected %>> <%= types[i] %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div id="graduated">

            <%
            let palettes = [
                {name: 'Orange - Red', value: 'OrRd'},
                {name: 'Blues', value: 'Blues'},
                {name: 'Greens', value: 'Greens'},
                {name: 'Red - Yellow - Green', value: 'RdYlGn'},
                {name: 'Spectral', value: 'Spectral'},
                {name: 'Set3', value: 'Set3'},
            ];
            %>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="palette">Color palette</label>
                <select class="form-control" name="palette" id="palette">
                  <% for (let i=0; i<palettes.length; i++) {
                      let selected;
                      if (style && (style.type === "graduated")) {
                          selected = (style.properties.palette === palettes[i].value) ? "selected" : "";
                      }
                      %>
                    <option value="<%= palettes[i].value %>" <%= selected %>> <%= palettes[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="palette">Categorized Values</label>
                    <table cellspacing="5px">
                        <thead>
                            <tr>
                                <th width="200px">Value</th>
                                <th width="100px">Color</th>
                                <th width="75px">Remove</th>
                            </tr>
                        </thead>
                        <tbody id="categorized-table">
                        </tbody>
                    </table>
                    <div class="new-row">
                        <input type="text" id="categorized-value" /><input type='text' id="colorpicker"/><div id="add-row">Add</div>
                    </div>
                </div>
            </div>


        </div>

        <div id="proportional">

            <%
            let colors = [
                {name: 'Green', value: '#6CAF00'},
                {name: 'Red', value: '#EA670D'},
                {name: 'Blue', value: '#1084C6'},
                {name: 'Cyan', value: '#9264CC'},
                {name: 'Magenta', value: '#8BC7EA'},
                {name: 'Yellow', value: '#ffff99'}
            ];
            %>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="color">Color</label>
                <select class="form-control" name="color" id="color">
                  <% for (let i=0; i<colors.length; i++) {
                      let selected;
                      if (style && (style.type === "proportional")) {
                          selected = (style.properties.color === colors[i].value) ? "selected" : "";
                      }
                      %>
                    <option value="<%= colors[i].value %>" <%= selected %>> <%= colors[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <%
            let shapes = [
                "circle", "triangle", "square"
            ];
            %>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="shape">Shape</label>
                <select class="form-control" name="shape" id="shape">
                  <% for (let i=0; i<shapes.length; i++) {
                      let selected;
                      if (style && (style.type === "proportional")) {
                          selected = (style.properties.shape === shapes[i]) ? "selected" : "";
                      }
                      %>
                    <option value="<%= shapes[i] %>" <%= selected %>> <%= shapes[i] %></option>
                  <% } %>
                </select>
              </div>
            </div>

        </div>

        <div id="heatmap">

            <%
            let radius = (style && style.properties.radius) ? style.properties.radius : 8;
            %>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="radius">Radius</label>
                <input type="number" class="form-control" name="radius" id="radius" min="0" max="100" value="<%= radius %>">
              </div>
            </div>

            <%
            let blur = (style && style.properties.blur) ? style.properties.blur : 15;
            %>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="blur">Blur</label>
                <input type="number" class="form-control" name="blur" id="blur" min="0" max="100" value="<%= blur %>">
              </div>
            </div>

        </div>

        <%
        let opacity = style ? style.properties.opacity : 100;
        %>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="opacity">Opacity</label>
            <input type="number" class="form-control" name="opacity" id="opacity" min="0" max="100" value="<%= opacity %>">
          </div>
        </div>
        <%
        let hide = style ? style.hide : false;
        let hide_layer = hide ? "selected" : "";
        %>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="hide">Hide</label>
            <select class="form-control" name="hide" id="hide">
                <option value="no">no</option>
                <option value="yes" <%= hide_layer %>>yes</option>
            </select>
            <small>If yes, the given layer will not be visible in the viewer catalog.</small>
          </div>
        </div>


        <div class="row">
          <div class="form-group col-md-6">
            <div id="submit-form" class="btn btn-primary">Submit</div>
            <!--button type="submit" class="btn btn-primary" value="submit">Submit</button-->
          </div>
        </div>
      </form>
    </div>
  </main>

  <script>

  var palettes = {
      'OrRd': 'linear-gradient(0.25turn, #fff7ec, #fdd49e, #fc8d59, #d7301f, #7f0000)',
      'Blues': 'linear-gradient(0.25turn, #f7fbff, #deebf7, #c6dbef, #9ecae1, #6baed6, #4292c6, #2171b5, #08519c, #08306b)',
      'PRGn': 'linear-gradient(0.25turn, #40004b, #762a83, #9970ab, #c2a5cf, #e7d4e8, #f7f7f7, #d9f0d3, #a6dba0, #5aae61, #1b7837, #00441b)',
      'RdYlGn': 'linear-gradient(0.25turn, #d7191c, #fdae61, #ffffbf, #a6d96a, #1a9641)',
      'Spectral': 'linear-gradient(0.25turn, #9e0142, #d53e4f, #f46d43, #fdae61, #fee08b, #ffffbf, #e6f598, #abdda4, #66c2a5, #3288bd, #5e4fa2)',
      'Viridis': 'linear-gradient(0.25turn, #440154, #482777, #3f4a8a, #31678e, #26838f, #1f9d8a, #6cce5a, #b6de2b, #fee825)',
      'Set3': 'linear-gradient(0.25turn, #8dd3c7, #ffffb3, #bebada, #fb8072, #80b1d3, #fdb462, #b3de69, #fccde5, #d9d9d9, #bc80bd, #ccebc5, #ffed6f)',
      'Paired': 'linear-gradient(0.25turn, #a6cee3, #1f78b4, #b2df8a, #33a02c, #fb9a99, #e31a1c, #fdbf6f, #ff7f00, #cab2d6, #6a3d9a, #ffff99, #b15928)',
  }

  let colors = {
      'Green': '#6CAF00',
      'Red': '#EA670D',
      'Blue': '#1084C6',
      'Cyan': '#9264CC',
      'Magenta': '#8BC7EA',
      'Yellow': '#ffff99'
  };

  var palette = $('#palette');
  palette.change( function(e) {
      var value = e.target.value;
      palette[0].style.background = palettes[value];
  });

  var color = $('#color');
  color.change( function(e) {
      var value = e.target.value;
      color[0].style.background = value;
  });

  palette.trigger("change");
  color.trigger("change");

  var type = $('#type');

  var heatmap = $('#heatmap');
  var graduated = $('#graduated');
  var proportional = $('#proportional');


  type.change( function(e){

      var value = e.target.value;

      if (value === 'graduated') {

          heatmap.hide();
          proportional.hide();
          graduated.show();

      } else if (value === 'heatmap') {

          heatmap.show();
          proportional.hide();
          graduated.hide();

      } else if (value === 'proportional') {

          heatmap.hide();
          proportional.show();
          graduated.hide();

      }
  })

  type.trigger("change");

  $("#colorpicker").spectrum({
    color: "#ECC",
    showInput: true,
    className: "full-spectrum",
    showInitial: true,
    showPalette: true,
    showSelectionPalette: true,
    maxSelectionSize: 10,
    preferredFormat: "hex",
    localStorageKey: "spectrum.demo",
    move: function (color) {

    },
    show: function () {

    },
    beforeShow: function () {

    },
    hide: function () {

    },
    change: function() {

    },
    palette: [
        ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
        "rgb(204, 204, 204)", "rgb(217, 217, 217)","rgb(255, 255, 255)"],
        ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
        "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
        ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
        "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
        "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
        "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
        "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
        "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
        "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
        "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
        "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
        "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
    ]
  });

  $("#add-row").click(function(e){
      var v = $("#categorized-value").val();
      var c = $("#colorpicker").val();

      if (v && c) {

          $(`<td/>`, {
              html: "x",
              css: {
                  "cursor": "pointer",
                  "font-weight": "bold",
                  "text-align": "center",
              },
              click: function(e){$(this).parent().remove()}
          }).appendTo($(`<tr><td data-value="${v}">${v}</td><td data-value="${c}" style="background:${c}"></td></tr>`).appendTo("#categorized-table"));
          //$("#categorized-table").append(`<tr><td>${v}</td><td style="background:${c}"></td></tr>`)
      }

  })
  var dataset_id = '<%= dataset_id %>';
  var indicator_id = '<%= indicator_id %>';
  var styleObj = JSON.parse('<%- JSON.stringify(style) %>');
  var cat = {};
  if (styleObj) {
      cat = styleObj.categorical || {};
  }

  $.each(cat, function(v, c) {

      $(`<td/>`, {
          html: "x",
          css: {
              "cursor": "pointer",
              "font-weight": "bold",
              "text-align": "center",
          },
          click: function(e){$(this).parent().remove()}
      }).appendTo($(`<tr><td data-value="${v}">${v}</td><td data-value="${c}" style="background:${c}"></td></tr>`).appendTo("#categorized-table"));

  })



  $("#submit-form").click(function(e){
      var form = {};

      // allowed
      var allowed = [];
      if ($("#vis-graduated").is(':checked')) {
          allowed.push("Graduated Colors")
      }
      if ($("#vis-heatmap").is(':checked')) {
          allowed.push("Heatmap")
      }
      if ($("#vis-proportional").is(':checked')) {
          allowed.push("Proportional")
      }

      form.allowed = allowed;

      // graduated
      form.type = $("#type").val();
      form.palette = $("#palette").val();
      form.opacity = $("#opacity").val();
      form.hide = $("#hide").val();

      form.categorical = {};
      $("#categorized-table tr").each(function(){
          var cells = $(this).children();
          form.categorical[cells.eq(0).attr("data-value")] = cells.eq(1).attr("data-value");
      });
      //heatmap
      form.radius = $("#radius").val();
      form.blur = $("#blur").val();
      // proportional
      form.shape = $("#shape").val();
      form.color = $("#color").val();

      $.ajax({
          url: `/admin/datasets/${dataset_id}/indicator/${indicator_id}/style`,
          type: "post",
          data: form,
          success: function(result){
              if (result.ok) {
                  window.location.replace(`/admin/datasets/${dataset_id}/indicators`);
              } else {
                  alert("Something went wrong!")
              }
        },

    })

  })

  $("#hide").change(function(e){
      var form = {};
      form.hide = $("#hide").val();
      $.ajax({
          url: `/admin/indicators/hide/${indicator_id}`,
          type: "post",
          data: form,
          success: function(result){
              console.log('done')
          },

    })
  })

  </script>


  <footer>
    <% include ../partials/footer %>
  </footer>


</body>

</html>
