<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <style>
            #info {
                z-index: 1;
                opacity: 0;
                width: 100%;
                background: rgba(0, 60, 136, 0.7);
                color: white;
                border-radius: 0;
                transition: opacity 100ms ease-in;
            }
        </style>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main div class="col-md-12">
        <h2>Add non spatial</h2>
        <small>
            Upload CSV files without georeference, aggregate values for each area unit and create a vector layer.
            <br />
            <b>File:</b> must be a CSV file
            <br />
            <b>Group by:</b> select a column containing a name of spatial unit, preferably HASC code
            <br />
            <b>Attribute:</b> select a column containing an observation
            <br />
            <b>Sub-division:</b> select a level of sub-division for administrative areas within the selected country
        </small>
        <hr />
        <div class="col-md-6">
            <form action="/api/v1/nonspatial" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group">
                        <label for="file">File</label>
                        <input type="file" class="form-control" name="file" id="file">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="group">Group by</label>
                        <select class="form-control fields" name="group" id="group">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="attribute">Attribute</label>
                        <select class="form-control fields" name="attribute" id="attribute"></select>
                    </div>
                </div>
                <%
        let stats = ['mean', 'min', 'max', 'sum'];
        %>
                    <div class="row">
                        <div class="form-group">
                            <label for="stat">Aggregation method</label>
                            <select class="form-control" name="stat" id="stat">
              <% for (let i=0; i<stats.length; i++) { %>
                <option value="<%= stats[i] %>"> <%= stats[i] %></option>
              <% } %>
            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select class="form-control" name="country" id="country">
                              <% for (var country in countries) { %>
                                <option value="<%= countries[country] %>"> <%= country %></option>
                              <% } %>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="country">Sub-division</label>
                            <select class="form-control" name="subdivision" id="subdivision">
                                <option value="1">Level 1</option>
                                <option value="2">Level 2</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" value="submit">Create</button>
                        </div>
                    </div>

            </form>
        </div>
        <div class="map-section col-md-6">
            <% if (layer) { %>
                <div id="map"></div>
                <pre id="info" />
                <% } %>
        </div>
    </main>

    <script>

        function addSelectables(arr) {
            for (var i = 0; i < arr.length; i++){
                var j = arr[i];
                $('#group').append($('<option>', {
                    value: j,
                    text: j
                }));
                $('#attribute').append($('<option>', {
                    value: j,
                    text: j
                }))
            };
        }
        function upload(evt) {
            $(".fields option").remove();
            var data = null;
            var file = evt.target.files[0];
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function(event) {
                var csvData = event.target.result;
                data = $.csv.toArrays(csvData);
                if (data && data.length > 0) {
                  var headers = data[0];
                  addSelectables(headers);
                } else {
                    alert('No data to import!');
                }
            };
            reader.onerror = function() {
                alert('Unable to read ' + file.fileName);
            };
        }
        $('#file').change(upload);
    </script>

    <% if (layer) { %>
        <div class="publish col-md-12">
            <hr />
            <p>Publish a geoserver layer.</p>
            <div class="row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="layerName" data-validation="alphanumeric" data-validation-allowing="_" data-validation-length="min3" />
                </div>
                <a id="publishLayer" class="btn btn-success">Publish</a>
            </div>
            <hr />
            <p>Download geojson.</p>
            <a id="downloadLayer" class="btn btn-info">Download</a>
            <hr />
        </div>
    <% } %>

    <% if (layer) { %>
        <span id='geojson' hidden>
        <%- layer %>
    </span>
        <script>
            var layer = JSON.parse($('#geojson').text());

            var style = new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: '#f00',
                    width: 1
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(255,0,0,0.1)'
                })
            });
            var vectorSource = new ol.source.Vector({
                features: (new ol.format.GeoJSON()).readFeatures(layer)
            });
            var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
                style: style
            });


            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                ],
                view: new ol.View({
                    projection: 'EPSG:4326',
                    center: ol.proj.fromLonLat([0, 0]),
                    zoom: 4
                })
            });
            map.addLayer(vectorLayer)
            map.getView().fit(vectorSource.getExtent())

            map.on('pointermove', showInfo);

            var info = document.getElementById('info');

            function showInfo(event) {
                var features = map.getFeaturesAtPixel(event.pixel);
                if (!features) {
                    info.innerText = '';
                    info.style.opacity = 0;
                    return;
                }
                var properties = features[0].getProperties();
                info.innerText = `Name: ${properties.name_1}\nIndicator: ${properties.indicator}`;
                info.style.opacity = 1;
            }

            var dataString = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(layer));
            var download_link = document.getElementById('downloadLayer');
            download_link.setAttribute("href",     dataString     );
            download_link.setAttribute("download", "layer.json");

            function publish(e) {
                var name = document.getElementById('layerName').value;
                 if (name.length < 4) {
                     alert("Name must contain at least 3 characters!")
                 } else {
                     var blob = new Blob([JSON.stringify(layer)], { type: 'application/json' });
                     var file = new File([ blob ], 'layer.json');
                     var data = new FormData();
                     data.append('name', name);
                     data.append('file', file);

                     $.ajax({
                         url: '/admin/create/layer',
                         data: data,
                         cache: false,
                         contentType: false,
                         processData: false,
                         method: 'POST',
                         type: 'POST', // For jQuery < 1.9
                         success: function(data){
                             alert("Success. Layer has been published");
                         },
                         fail: function(error) {
                             alert("Error. Something went wrong")
                         }
                     });
                 }

            }

            var btn_publish = document.getElementById('publishLayer');
            btn_publish.addEventListener('click', publish);

            $.validate()

        </script>
        <% } %>


            <footer>
                <% include ../partials/footer %>
            </footer>

</body>

</html>
