<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <%
      if (error) {
    %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <%
      } else if (!error && message.length) {
    %>
    <div class="alert alert-success" role="alert">
      <%= message %>
    </div>
    <%
      }
    %>
    <div>
      <h3>Change password</h3>
      <hr/>
      <form action="/admin/settings" method="post">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="email">Old password</label>
            <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter Old Password">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="new_password">New password</label>
            <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Enter New password">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="retype_password">Retype password</label>
            <input type="password" class="form-control" name="retype_password" id="retype_password" placeholder="Retype New Password">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary">Change</button>
          </div>
        </div>
      </form>
      <hr />
      <h3>Last deployment</h3>
      <div><b>Final version</b></div>
      <div>Viewer: v1.0.0</div>
      <div>Back-end: v1.0.0</div>
      <hr/>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

</body>

</html>
