<!-- views/pages/sources.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <style>
    .thumbnail {
        padding: 10px;
    }

  </style>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h2>Create new data source</h2>
    <hr />
    <div class="thumbnail">
        Data sources are objects containing spatial data. They are stored in the database and managed by Geoserver.
        Every data source can be assigned to an indicator in order to display it in the viewer and share with users.
        You can browse list of the available layers <a href="/admin/browse/layers">here</a>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="thumbnail">
              <h4><span class="glyphicon glyphicon glyphicon-globe"></span> Spatial Layers</h4>
              <p>
                  Shapefile, Geojson, KML, GML files representing spatial layers can be uploaded to the database
                  and published on the Geoserver automatically. Just select a valid file and provide required information.
              </p>
              <div><a class="btn btn-success" href="/admin/create/layer">Add spatial layer</a></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="thumbnail">
              <h4><span class="glyphicon glyphicon glyphicon-list-alt"></span> Non-spatial Data</h4>
              <p>
                  Turn data without spatial coordinates from delimiter-separated formats into valid spatial layers to display the on the map.
                  Different methods of aggregation are available.
              </p>
              <div><a class="btn btn-info" href="/admin/nonspatial">Add non-spatial</a></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="thumbnail">
              <h4><span class="glyphicon glyphicon glyphicon-picture"></span> Web Services</h4>
              <p>
                  Geoserver can scrap information from web services using only one capabilities url and proxy layers to display them on the map.
                  Create and edit your own web services, publish new data sources.
              </p>
              <div><a class="btn btn-warning" href="/admin/webservices">Add web services</a></div>
          </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
