<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <style>
            .error-msg {
                color: red;
                margin-bottom: 20px;
            }
        </style>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main div class="col-md-12">
        <h2>Publish spatial layers</h2>
        <small>This form allows to publish a new spatial layer. Publishing means saving layer in the database and adding to the Geoserver. Once published layer is available within the Geoserver API and can be used as a source for indicators. Supported formats: Shapefile, KML, GML, GeoJSON. Please notice that a valid Shapefile must be a zipfile that contains at least 3 files with the same names and different extensions (*.shp, *.shx, *.dbf). Layer name must be at least 3 characters.</small>
        <hr />
        <div class="col-md-6">
            <form action="/admin/create/layer" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group">
                        <label for="file">File</label><small> max. 25Mb</small>
                        <input type="file" class="form-control" name="file" id="file">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" name="name" id="name" data-validation="alphanumeric" data-validation-allowing="_" data-validation-length="min3"></input>
                    </div>
                </div>
                <%
                    let formats = ['Shapefile', 'KML', 'GML', 'GeoJSON'];
                %>
                <div class="row">
                    <div class="form-group">
                        <label for="format">Format</label>
                        <select class="form-control" name="format" id="format">
                          <% for (let i=0; i<formats.length; i++) { %>
                            <option value="<%= formats[i] %>"> <%= formats[i] %></option>
                          <% } %>
                        </select>
                    </div>
                </div>
                <% if (error) { %>
                    <div class="row error-msg">
                        Error:
                        <%= error_message %>
                    </div>
                <% } %>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" value="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }

    var confirmation = '<%= confirmation  %>'
    if (confirmation) {
        alert(confirmation)
    }

    $("#file").on("change", function (e) {
        var file = e.currentTarget.files[0];
        var filesize = ((file.size/1024)/1024).toFixed(4);
        if (filesize > 25) {
            alert('File must be smaller than 25Mb!')
            this.value = "";
        }
    })

    $.validate()
    </script>
</body>

</html>
