<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <style>
            .error-msg {
                color: red;
                margin-bottom: 20px;
            }
        </style>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main div class="col-md-12">
        <h2>Manage Web Services</h2>
        <hr />
            <div class="col-md-12">Manage stores and publish available layers. Select store from the dropdown menu or <a href="/admin/webservices?tab=new" class="btn btn-success">Create Store</a></div>

                <!--div >
                    <% for (let i=0; i<stores.length; i++) {
                      %>
                      <div class="store-entry"><%= stores[i].name %></div>
                    <% } %>
                </div-->

                <div class="col-md-4">
                    <select class="form-control" id="existing-stores">
                      <option selected="true" disabled="disabled">select store...</option>
                      <% for (let i=0; i<stores.length; i++) { %>
                        <option value="<%= stores[i].name %>"> <%= stores[i].name %></option>
                      <% } %>
                    </select>
                </div>

            </div>

            <div class="col-md-12">
                <hr />
                <h4>Layers</h4>
                <hr />
                <div id="store-info">

                </div>
                <div id="store-layers">

                </div>
            </div>

        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }

    function publish(store, layer) {
        var layerName = prompt("Please enter layer name", `${store}_${layer}`);
        if (!layerName) {
            return 0;
        }
        $.ajax({
            type: "POST",
            url: `/admin/webservices/publish`,
            data: {
                name: layerName,
                layer,
                store
            },
            success: function(result) {
                if (result.ok) {
                    showStore(undefined, store);
                } else {
                    alert(result.message)
                }
            }
        })
    }

    function unpublish(store, layer) {
        $.ajax({
            url: `/admin/webservices/unpublish/${store}/${layer}`,
            success: function(result) {
                if (result.ok) {
                    showStore(undefined, store);
                } else {
                    alert("Can't unpublish this layer. Something is wrong.")
                }
            }
        })
    }

    function deleteStore(name) {
        $.ajax({
            url: `/admin/webservices/store/delete/${name}`,
            success: function(result) {
                if (result.ok) {
                    location.reload();
                }
            }
        })
    }

    function showStore(e, store){

        var name;
        if (store) {
            name = store;
        } else {
            name = e.target.value;
        }

        $('#store-layers').empty();
        $("#store-info").empty();
        $("#store-layers").append("<div id='store-published'></div>");
        $("#store-layers").append("<div id='store-available'></div>");

        $.ajax({
            url: `/admin/webservices/layers/${name}`,
            success: function(result){
              if (result.published) {
                  $("#store-published").append(`<i style='margin-bottom:20px;'>Published layers:</i>`)
                  result.published.forEach( function(i){
                      $(`<a/>`, {
                          href: "#",
                          html: "unpublish",
                          click: function(){unpublish(name, i.name)}
                      }).appendTo(
                      $(`<div class='layer-entry-published'>${i.name} </div>`).appendTo("#store-published"))
                  })
              }
              if (result.available) {
                  $("#store-published").append(`<i style='margin-bottom:20px;'>Available layers:</i>`)
                  result.available.forEach( function(i){
                      $(`<a/>`, {
                          href: "#",
                          html: "publish",
                          click: function(){publish(name, i)}
                      }).appendTo(
                      $(`<div class='layer-entry-available'>${i} </div>`).appendTo("#store-published"))
                      //$("#store-published").append(`<div class='layer-entry-available'> ${i} <a href="/admin/webservices/publish/${name}/${i}" >publish</a></div>`)
                  })
              }
              if (result.description) {
                  $("#store-info").append(`<div><b>Store Name:</b> ${result.description.name}</div>`)
                  $("#store-info").append(`<div><b>Store description:</b> ${result.description.description || ''}</div>`)
                  $("#store-info").append(`<div><b>Capabilities URL:</b> ${result.description.capabilitiesURL}</div>`)
                  $(`<a/>`, {
                      href: "#",
                      html: "Delete store",
                      click: function(){
                          var r = confirm("Are you sure you want to delete this store?");
                          if (r) {
                              deleteStore(result.description.name)
                          }
                      }
                  }).appendTo("#store-info");
                  $("#store-info").append(`<hr />`)
              }

              if (!result.ok) {
                  $("#store-info").append(`<div><b>This store has incorrect Capabilities URL. Please delete it and create a new one.</b></div>`)
                  $(`<a/>`, {
                      href: "#",
                      html: "Delete store",
                      click: function(){
                          var r = confirm("Are you sure you want to delete this store?");
                          if (r) {
                              deleteStore(result.name)
                          }
                      }
                  }).appendTo("#store-info");
              }

          }})


    }

    $("#existing-stores").change( function(e) {showStore(e)});
    </script>
</body>

</html>
