<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <style>
            .error-msg {
                color: red;
                margin-bottom: 20px;
            }
        </style>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main div class="col-md-12">
        <h2>New WMS store</h2>
        <hr />
            <div class="col-md-12">Create a new store using capabilities url. Go back to <a href="/admin/webservices?tab=manage">store management</a>.</div>
            <div class="col-md-12">

                <hr />
                <h4>Create new store</h4>
                <hr />

                <form action="/admin/webservices/store" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="group">Name</label>
                            <input class="form-control" name="name" id="name" data-validation="alphanumeric" data-validation-allowing="_" data-validation-length="min3"></input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="attribute">Capabilities URL</label>
                            <input class="form-control" name="capabilities" id="capabilities"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="attribute">Description</label>
                            <input class="form-control" name="description" id="description"></input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary" value="submit">Create</button>
                        </div>
                    </div>

                </form>

            </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }

    $("#existing-stores").click( function(e){
        var layer = e.target;
        var name = layer.innerHTML;

        $('#store-layers').empty();
        $("#store-layers").append("<div id='store-published'></div>")
        $("#store-layers").append("<div id='store-available'></div>")

        $.ajax({
            url: `/admin/webservices/layers/${name}`,
            success: function(result){

              if (result.published) {
                  result.published.forEach( function(i){
                      $("#store-published").append("<div class='layer-entry-published'>" + i.name + "</div>")
                  })
              }
              if (result.available) {
                  result.available.forEach( function(i){
                      $("#store-published").append(`<div class='layer-entry'> ${i} <a href="/admin/webservices/publish/${name}/${i}" >publish</a></div>`)
                  })
              }

          }})


    });

    $.validate()
    </script>
</body>

</html>
